<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bilgi_yarismasi"
        tools:targetApi="31">
        <activity
            android:name=".Activity_skor"
            android:exported="false" />
        <activity
            android:name=".Activity_gundem"
            android:exported="false" />
        <activity
            android:name=".Activity_matematik"
            android:exported="false" />
        <activity
            android:name=".Activity_sanat"
            android:exported="false" />
        <activity
            android:name=".Activity_cografya"
            android:exported="false" />
        <activity
            android:name=".Activity_sinema"
            android:exported="false" />
        <activity
            android:name=".Activity_teknoloji"
            android:exported="false" />
        <activity
            android:name=".Activity_edebiyat"
            android:exported="false" />
        <activity
            android:name=".Activity_tarih"
            android:exported="false" />
        <activity
            android:name=".Activity_bilim"
            android:exported="false" />
        <activity
            android:name=".Activity_muzik"
            android:exported="false" />
        <activity
            android:name=".anasayfa"
            android:exported="false" />
        <activity
            android:name=".kurallarActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>